col {
    float:left;
}
#input-div {
    margin: 20px;
    position: relative;
    bottom: 50px;
    float: right;
}

#gif-input {
    margin-bottom: 10px;
}

.gif-btn {
    margin: 10px 2px;
} 

img {

    height: 200px;
    max-width: 250px ;
}
#instructions {
    position: relative;
    top: 100px;
}

