col {
    float:left;
}
#input-div {
    margin-bottom: 20px;
}

#gif-input {
    margin-bottom: 10px;
}

.gif-btn {
    margin: 10px 2px;
}

img {
    width: 200px;
    height: 200px;
}

p {
    overflow-wrap: normal;
}